:root {
  --skydark: #041F41;
  --skylight: #0D3C7D;
  --yellowdark: #FFE072;
  --yellowlight: #FFF2AE;

  --fontwhite: #D4D4D4;

  --fontbutton: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--skydark);
  background: linear-gradient(0deg, var(--skylight) 20%, var(--skydark) 100%);
}

/*----------------------------------
  Font
-----------------------------------*/
h1, h2, h3, a, li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--fontwhite);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.45px;
  text-decoration: none;
  hyphens: auto;
  -webkit-hyphens: auto; 
  -ms-hyphens: auto; 
}

h1 {
  line-height: 1.75rem;
}


.break-word {
  word-wrap: break-word;
}


/*----------------------------------
  Header
-----------------------------------*/

nav {
  position: fixed;
  width: 100%;
  top: 0;
}

.logocontainer{
  margin: 30px;
  position: relative;
  display: inline-block;
}

.logo {
  display: inline-block;
  font-size: var(--fontbutton);
  margin: 0;
  padding-left: 10px;
  vertical-align: super;
  line-height: 1.5rem;
}

.innercircle {
  position: absolute;
  top: 21px;
  left: 21px;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background: var(--yellowdark);
  background: linear-gradient(90deg, var(--yellowlight) 20%, var(--yellowdark) 100%);
}

.outercircle {
  height: 50px;
  width: 50px;
  display: inline-block;
}

nav ul {
  display: inline-block;
  position: absolute;
  right: 0px;
  margin: 30px;
}

nav li {
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid var(--fontwhite);
  border-radius: 50px;
  opacity: 0.5;
}

/*----------------------------------
  Intro
-----------------------------------*/

.intro {
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.intro h1 {
  margin-left: 50%;
  padding-right: 50px;
}

.sun {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}

.innercirclesun {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  transform: scale(1);
  background: var(--yellowdark);
  background: linear-gradient(90deg, var(--yellowlight) 20%, var(--yellowdark) 100%);
  animation: sun 10s linear infinite;
}

@keyframes sun {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(0.5); }
}

.outercirclesun {
  width: 300px;
}

.svgcircle {
  fill: none;
  stroke: url(#svgid);
  stroke-width: 1;
}

.line {
  border-left: solid 2px cornsilk;
  padding-left: 15px;
  width: 50%;
}

/*----------------------------------
  Stars
-----------------------------------*/

.starry-sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: twinkling 3s linear infinite;
  opacity: 0.5;
}

@keyframes twinkling {
  0%, 100% { opacity: 0; }
  50% { opacity: 0.5; }
}

.star:nth-child(odd) {
  width: 3px;
  height: 3px;
}

.star:nth-child(even) {
  width: 2px;
  height: 2px;
}


/*----------------------------------
  Footer
-----------------------------------*/


/*----------------------------------
    Cookiebanner
-----------------------------------*/

#cookiebanner {
  position: fixed;
  bottom: -300px;
  left: 40px;
  border-radius: 5px;
  width: 350px;
  background-color: white;
  padding: 15px;
  z-index: 9999;
  transition: bottom 0.5s cubic-bezier(0.2, 0.8, 0.3, 2);
}

#cookiebanner p {
  color: var(--funkblue);
  margin: 0;
}

#cookiebanner.visible {
  bottom: 40px;
}

#cookiebanner button {
  
  letter-spacing: 0;
  text-decoration: none; 
}

#declineBtn, #acceptBtn {
  border-radius: 5px;
  margin-top: 20px;
}

#declineBtn {
  padding: 10px 20px;
  background:none;
  border: 1px solid var(--funkblue); 
  color: var(--funkblue);
  opacity: 0.5;
}

#acceptBtn {
  border: none;
  padding: 10px 40px;
  background: var(--funkblue);
  color: white;
  margin-right: 5px;
}

#acceptBtn:hover,
#declineBtn:hover {
  transition: opacity 0.5s ease-in-out;
  opacity: 0.75; ;
}


/*----------------------------------
  Responsiv
-----------------------------------*/


@media (max-width: 1200px) {
  
}

@media (max-width: 960px) {
  
}

@media (max-width: 700px) {
  

  #cookiebanner {width: calc(100% - 40px); left: 20px;}
  #cookiebanner.visible {bottom: 30px;}
}